<div class="relative w-full h-screen border">
    <app-map (markedLocationChange)="onMarkedLocationChange($event)" (mapLoaded)="onMapLoaded()" />
    @if (!mapLoading()) {
    <div class="absolute bottom-6 left-1/2 transform -translate-x-1/2 text-center w-full">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer me-3"
            (click)="openDialog()">Select Service</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
            routerLink="/services">Track Service</button>
    </div>
    @if (markedAddress()) {
    <div class="absolute top-5 right-2 p-4 bg-white rounded-lg">
        <h4>{{ markedAddress() }}</h4>
    </div>
    }
    }@else {
    <app-loading />
    }

</div>